<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add album</h1>
<div>
<form method="post" action="/albums">
<label>Artist :</label>
    <input type="text" name="artist" >
    <br>
    <br>
    <label>Title : </label>
    <input type="text" name="title" >
    <br>
    <br>
    <label>Song Count :</label>
    <input type="number" name="songCount" >
    <br>
    <br>
    <label>Length : </label>
    <input type="text" name="length" >
    <br>
    <br>
    <label> Image Url : </label>
    <input type="text" name="imageUrl" >
    <br>
    <br>
  <input type="submit" value="add book">
</form>
</div>
</body>
</html>